.work-page {
    width: 100%;
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .work-page {
        max-width: 1300px;
    }
}

@media (max-width: 1199px) {
    .work-page {
        max-width: 1080px;
    }
}

@media (max-width: 991px) {
    .work-page {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .work-page {
        max-width: 540px;
    }
}
