@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'RobotoMonoLight';
    src: url('../fonts/RobotoMono-ExtraLight.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RobotoMonoBold';
    src: url('../fonts/RobotoMono-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'RobotoMonoSemiBold';
    src: url('../fonts/RobotoMono-SemiBold.ttf') format('truetype');
  }

  html,
  body,
  #root {
    @apply h-full w-full;
  }

  body {
    @apply m-0 bg-background text-text font-mono antialiased;
  }
}

@layer components {
  /* Typewriter animation helpers */
  .typewriter-line {
    @apply inline-block border-r-2 border-white/30 whitespace-nowrap overflow-hidden;
  }

  .typewriter-line-1 {
    @apply animate-type;
  }

  .typewriter-line-2 {
    @apply opacity-0 animate-type2;
  }

  .typewriter-line-3 {
    @apply opacity-0 animate-type3 text-main;
  }

  /* Scroll chevron */
  .scroll-down {
    @apply absolute left-1/2 bottom-24 block w-3 h-3 border-b-2 border-r-2 border-white transform -translate-x-1/2 rotate-45 animate-scroll;
  }

  /* Snowflake decorative elements */
  .snowflake {
    @apply fixed top-[-10%] z-[9999] select-none cursor-default text-white text-base animate-snow drop-shadow-sm;
  }
}
